@import './variable';
@import './font';

@mixin stylingInput() {
  label {
    color: $label-color;
  }
  .control {
    line-height: 3.5;
    margin-bottom: .5rem;
  }
  .control input {
    height: 3.5rem;
    box-sizing: border-box;
    padding-left: 1.5rem;
    border: none;
    outline: none;
    border: 1px solid $line-color;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 4px;
    font-family: normal-font !important;
    transition: border .5s;
  
    &::placeholder {
      color: $placeholder-color;
    }
  
    &:focus {
      border: 1px solid $primary;
    }
  }

  @media screen and (max-width: 600px) {
    label {
      font-size: .9rem;
    }

    .control {
      line-height: 2.5;
    }

    .control input {
      height: 2.9rem;
      padding-left: 1rem;
      font-size: 1rem;
    }
  }
}