@font-face {
  font-family: normal-font;
  src: url('../assets/fonts/Mulish-Regular.ttf');
}

html {
  font-size: 16px;
  background-color: white;
  font-family: normal-font;
}

* {
  margin: 0;
  padding: 0;
}